/* TAPS (BUTTONS) Mobile First */

.taps-container {

    display: flex;
    justify-content: space-between;
    gap: rem(10);
    border-bottom: 1px solid hsl(var(--cl-light) / 0.2);

    @include breakpoint-up('tiny') {
        border: none;
        flex-direction: column;
        min-width: rem(280);
    }

}

.tap-btn {
    background: transparent;
    border: none;
    flex: 1;
    padding: rem(20) rem(0);
    cursor: pointer;

    @include breakpoint-up('tiny') {
        border: 1px solid hsl(var(--cl-light) / 0.2);
        text-align: left;
        padding: rem(15) rem(20);
    }
}


.tap-number {
    opacity: 0.5;
    margin-right: rem(10);
}

/* .tap-container {

    display: flex;
    justify-content: space-between;
    gap: rem(20)
} */








// for Desktop version
/* .btn {
    flex: 1; 
    display: flex;
    justify-content: flex-start;
    gap: rem(25);
    border: 1px solid #38384f;
    cursor: pointer;
    padding: rem(12) rem(28);

    &:not(.active-venus):hover {
        background-color: #38384f;

    }
}

.btn-number {
    opacity: 0.5;
} */