/* TAPS (BUTTONS) Mobile First */

.taps-container {

    display: flex;
    justify-content: space-between;
    gap: rem(10);
    border-bottom: 1px solid hsl(var(--cl-light) / 0.2);

    @include breakpoint-up('tiny') {
        border: none;
        flex-direction: column;
        min-width: rem(280);
    }

    @include breakpoint-up('small') {
        min-width: rem(350);
    }

}



.tap-btn {
    background: transparent;
    border: none;
    flex: 1;
    padding: rem(20) rem(0);
    cursor: pointer;

    @include breakpoint-up('tiny') {
        border: 1px solid hsl(var(--cl-light) / 0.2);
        text-align: left;
        padding: rem(15) rem(20);
        
    }
}


.tap-number {
    display: none;
    @include breakpoint-up('tiny') {

        opacity: 0.5;
        margin-right: rem(10);
    }
}

.tap-hide {
    display: none;

    @include breakpoint-up('tiny') {
        display: inline-block;
    }
}