 

 //Mobile Navigation

[aria-expanded='false'] {
    display: none;
    
}

 .main-navigation {
    position: relative;
    width: 100%;
   //border: 2px solid tomato;

    @include breakpoint-up('tiny') {

        display: block;
        
        
    }

    @include breakpoint-up('small') {
        width: 50%;
    }
    
}



.main-navigation-items {
    position: fixed;
    color: hsl(var(--cl-light) );
    padding: 0;
    inset: 13% 0 0 0;
    display: flex;
    height: 85vh;
    flex-direction: column;
    z-index: 100;
    background-color: hsl(var(--cl-dark));

    
    @include breakpoint-up('tiny') {
        display: flex;
        position: static;
        flex-direction: row;
        text-align: center;

        height: auto;
        background-color: transparent;
        
    }  
    
}


.main-navigation-item {
    flex: 1;
    list-style: none;
    border-bottom: 1px solid hsl(var(--cl-light) / 0.75 );
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding-inline: rem(24); 
    
    margin: 0;

    @include breakpoint-up('tiny') {
        display: block;
    }
   
    
    a {
        display: flex;
        align-items: center;
        gap: rem(10);
        position: relative;
        text-decoration: none;
        color: hsl(var(--cl-light) / 0.75 );
        font-size: rem(20);
        font-weight: 700;

        &:hover {
            color: hsl(var(--cl-light));

           
        }

        @include breakpoint-up('tiny') {

            font-size: rem(12);
            display: inline-block;
           
        }

    }

   @include breakpoint-up('tiny') {

        border: none;
        display: static;
        padding-inline: 0;
        font-weight: 400;
        gap: 0;



   }
    
}

.main-navigation-item svg {
    @include breakpoint-up('tiny') {
        display: none;
    }
}


.main-navigation-planet {
    display: inline-block;
    width: rem(20);
    aspect-ratio: 1;
    border-radius: 50%;

    @include breakpoint-up('tiny') {
        display: none;
    }
   
}


 .nav-mobile-btn {
    justify-self: flex-end;
    position: relative;
    background: transparent;
    border: none;
    padding: 0; 

    @include breakpoint-up('tiny') {

        display: none;
    }
 }

 .line {
    display: block;
    background-color: hsl(var(--cl-light) );
    width: rem(30);
    height: rem(3);
    margin-top: rem(5);
 }

