 

 //Mobile Navigation

 [aria-expanded='false'] {
    display: none;

    
 }

 .main-navigation {
    position: relative;
    width: 100%;
   // border: 2px solid tomato;

    @include breakpoint-up('tiny') {

        display: block;
        padding-top: rem(16);
        
    }

    @include breakpoint-up('small') {
        width: 50%;
    }
    
}



.main-navigation-items {
    position: fixed;
    color: hsl(var(--cl-light) );
    padding: 0;
    inset: 0 0 0 0;
    display: flex;
    flex-direction: column;
    
    @include breakpoint-up('tiny') {
        display: flex;
        position: static;
        flex-direction: row;
        text-align: center;
        //border: 2px solid magenta;
        
    
    }  
    
}
.main-navigation-item {
    flex: 1;
    list-style: none;
    display: block;
    //border: 2px solid magenta;
   
    a {
        padding-bottom: rem(20);
        text-decoration: none;
        color: hsl(var(--cl-light) / 0.75 );

    }
    &:hover {
        color: hsl(var(--cl-light) );
        border-bottom: 3px solid hsl(var(--cl-earth) );
        /* Maybe i find a another solution for the bouncing problem */
        //padding-bottom: calc(rem(20) - 3px);
    }

}




 .nav-mobile-btn {
    justify-self: flex-end;
    position: relative;
    background: transparent;
    border: none;
    padding: 0; 

    @include breakpoint-up('tiny') {

        display: none;
    }
 }

 .line {
    display: block;
    background-color: hsl(var(--cl-light) );
    width: rem(30);
    height: rem(3);
    margin-top: rem(5);
 }

