.planet-facts-grid {

    display: flex;
    flex-direction: column;
    gap: rem(8);
    
    
    @include breakpoint-up('tiny') {
        flex-direction: row;
        justify-content: space-between;
        gap: rem(11);
    }
}


.planet-fact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex: 1;
    
    border: 1px solid hsl(var(--cl-border-grey) /.5);
    
    padding: rem(10) rem(24);
    
    @include breakpoint-up('tiny') {
        max-width: rem(250);
        flex-direction: column;
        align-items: flex-start;
    }
}

