.planet-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.planet-img {
    position: relative;
    //width: rem(173);
}

.planet-geology {
    position: relative;
    width: rem(163);
    inset: -15% 0 0 25%;
    
}

.planet-text {
    text-align: center;

    @include breakpoint-up('tiny') {
        text-align: left;
    }
}