.planet-container { 
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: rem(30);
    margin-bottom: rem(30);
}

.planet-img-container {
    position: relative;
}

.planet-img {
    
}


.planet-geology {
    display: inline-block;
    position: absolute;
    width: clamp(rem(80), rem(40) + 8vw, rem(163));
    top: 60%;
    left: 30%;
    //left: clamp(30%, )
    
    
}

.planet-content {
    max-width: rem(350);
}


.planet-text {
    text-align: center;
  
    @include breakpoint-up('tiny') {
        text-align: left;
        max-width: 45ch;
    }
}