[data-planet="mercury"] {


    .planet-img {
        
        
        max-width: rem(111);

        @include breakpoint-up('tiny') {

            max-width: rem(184);
        }
        @include breakpoint-up('small') {
            max-width: 100%;
        }
       
    }

    .planet-geology {

        top: 65%;
        left: 15%;

        @include breakpoint-up('tiny') {

            top: 80%;
            left: 20%;
        }
    }
    


    .taps-container > .tap-btn  {


        &:focus {
                box-shadow: inset 0px -5px 0px 0px hsl(var(--cl-mercury) );
                @include breakpoint-up('tiny') {
                    box-shadow: none;
                    background-color: hsl(var(--cl-mercury) );
                }
            
        }
    }
}
[data-planet="venus"] {


    .planet-img {
      
        
        max-width: rem(154);

        @include breakpoint-up('tiny') {

            max-width: rem(253);
        }
        @include breakpoint-up('small') {
            max-width: 100%;
        }
       
    }
    .planet-geology {

        top: 65%;
        left: 20%;

        @include breakpoint-up('tiny') {

            top: 70%;
            left: 27%;
        }
    }


    .taps-container > button  {


        &:focus {
            box-shadow: inset 0px -5px 0px 0px hsl(var(--cl-venus) );
            @include breakpoint-up('tiny') {
                box-shadow: none;
                background-color: hsl(var(--cl-venus) );
            }
        }
    }
}
[data-planet="earth"] {


    .planet-img {
        
       
        max-width: rem(173);
       

        @include breakpoint-up('tiny') {

            max-width: rem(285);
        }
        @include breakpoint-up('small') {
            max-width: 100%;
        }
       
    }
   
    


    .taps-container > button  {


        &:focus {
                

                box-shadow: inset 0px -5px 0px 0px hsl(var(--cl-earth) );
                @include breakpoint-up('tiny') {
                    box-shadow: none;
                    background-color: hsl(var(--cl-earth) );
                }
            
        }
    }
}
[data-planet="mars"] {


    .planet-img {
       
        
        max-width: rem(129);

        @include breakpoint-up('tiny') {

            max-width: rem(213);
        }
        @include breakpoint-up('small') {
            max-width: 100%;
        }
       
    }

    .planet-geology {

        top: 65%;
        left: 20%;

        @include breakpoint-up('tiny') {

            top: 70%;
            left: 27%;
        }
    }
    


    .taps-container > button  {


        &:focus {
             

                box-shadow: inset 0px -5px 0px 0px hsl(var(--cl-mars) );
                @include breakpoint-up('tiny') {
                    box-shadow: none;
                    background-color: hsl(var(--cl-mars) );
                }
        }
    }
}
[data-planet="jupiter"] {


    .planet-img {
       
        
        max-width: rem(224);

        @include breakpoint-up('tiny') {

            max-width: rem(369);
        }
        @include breakpoint-up('small') {
            max-width: 100%;
        }
       
    }

    .planet-geology {

        top: 65%;
        left: 30%;

        @include breakpoint-up('tiny') {

            top: 70%;
            left: 35%;
        }
    }
    


    .taps-container > button  {


        &:focus {
            box-shadow: inset 0px -5px 0px 0px hsl(var(--cl-jupiter) );
            @include breakpoint-up('tiny') {
                box-shadow: none;
                background-color: hsl(var(--cl-jupiter) );
            }
        }   
    }
}
[data-planet="saturn"] {


    .planet-img {
       
        
        max-width: rem(256);

        @include breakpoint-up('tiny') {

            max-width: rem(422);
        }
        @include breakpoint-up('small') {
            max-width: 100%;
        }
       
    }

    .planet-geology {

        top: 65%;
        left: 33%;

        @include breakpoint-up('tiny') {

            top: 60%;
            left: 35%;
        }
    }
    


    .taps-container > button  {


        &:focus {
            box-shadow: inset 0px -5px 0px 0px hsl(var(--cl-saturn) );
                @include breakpoint-up('tiny') {
                    box-shadow: none;
                    background-color: hsl(var(--cl-saturn) );
                }
            
        }
    }
}
[data-planet="uranus"] {


    .planet-img {
       
        
        max-width: rem(176);

        @include breakpoint-up('tiny') {

            max-width: rem(290);
        }
        @include breakpoint-up('small') {
            max-width: 100%;
        }
       
    }

    .planet-geology {

        top: 65%;
        left: 24%;

        @include breakpoint-up('tiny') {

            top: 65%;
            left: 30%;
        }
    }
    


    .taps-container > button  {


        &:focus {
            box-shadow: inset 0px -5px 0px 0px hsl(var(--cl-uranus) );
            @include breakpoint-up('tiny') {
                box-shadow: none;
                background-color: hsl(var(--cl-uranus) );
            }
            
        }
    }
}
[data-planet="neptune"] {


    .planet-img {
        
        
        max-width: rem(173);

        @include breakpoint-up('tiny') {

            max-width: rem(285);
        }
        @include breakpoint-up('small') {
            max-width: 100%;
        }
       
    }

    .planet-geology {

        top: 65%;
        left: 25%;

        @include breakpoint-up('tiny') {

            top: 65%;
            left: 30%;
        }
    }
    


    .taps-container > button  {


        &:focus {
                box-shadow: inset 0px -5px 0px 0px hsl(var(--cl-neptune) );
                @include breakpoint-up('tiny') {
                    box-shadow: none;
                    background-color: hsl(var(--cl-neptune) );
                }
            
        }
    }
}