
// COLORS

:root {

    --cl-dark: 240 66% 8%;
    --cl-light: 0 0% 100%;
    --cl-dark-grey: 240 17% 26%;
    --cl-light-grey: 240 6% 54%;
    --cl-border-grey: 0 0% 59%;

    --cl-mercury: 194 48% 49%;
    --cl-venus: 33 82% 61%;
    --cl-earth: 263 67% 51%;
    --cl-mars: 10 63% 51%;
    --cl-jupiter: 2 68% 53%;
    --cl-saturn: 17 73% 46%;
    --cl-uranus: 169 73% 44%;
    --cl-neptune: 222 87% 56%;

    /* Font Family */
    --ff-antonio: 'Antonio';
    --ff-spartan: 'Spartan';

    /* Font-Size */

    /* mobile-version */
    --fs-900: rem(40);
    --fs-800: rem(28);
    --fs-700: rem(20);
    --fs-600: rem(15); 


    /* font-weight */
    --fw-900: 900;
    --fw-800: 800;
    --fw-700: 700;
    --fw-600: 600;
    --fw-500: 500;
    --fw-400: 400;
    --fw-300: 300;
    --fw-200: 200;
    --fw-100: 100;

    /* line-height */
    --lh-xl: 103px;
    --lh-l: 53px;
    --lh-m: 25px;

    /* letter spacing */
    --l-space-xl: 2.6px;
    --l-space-l: 1px;
    --l-space-m: -1.5px;
     

}

//primary colors

 
$dark: hsl(240, 66%, 8%);
$light: hsl(0, 0%, 100%);
$dark-grey: hsl(240, 17%, 26%);
$light-grey: hsl(240, 6%, 54%);
$border-grey: hsl(0, 0%, 59%);


$primaryColors:(
    
    
    dark: #070722,
    light: #ffff,
    dark-grey: #38384f,
    light-grey: #838391,
 );
    
    // Planet Colors
    
