
// COLORS



$primaryColors:(
    
    
    dark: #070722,
    light: #ffff,
    dark-grey: #38384f,
    light-grey: #838391,
 );
    
    // Planet Colors
    
$planetColor: (
    
    mercury: #419ebb,
        
    venus: #eda249,
        
    earth: #6f2ed6,
        
    mars: #d14c32,
        
    jupiter: #d83a34,
        
    saturn: #cd5120,
        
    uranus: #1ec2a4,
        
    neptune: #2d68f0,    
);

$fonts: (

    antonio: 'Antonio',
    spartan: 'Spartan',

);

$font-size: (

    900: clamp(2.50rem, calc(1.62rem + 3.76vw), 5.00rem), // 40px - 80px (max) h1
    800: clamp(1.25rem, calc(0.81rem + 1.88vw), 2.50rem), // 20px - 40px (max) h2
    500: clamp(0.69rem, calc(0.62rem + 0.28vw), 0.88rem), // 11px - 14px (max) body
    400: clamp(0.56rem, calc(0.50rem + 0.28vw), 0.75rem), // 8px - 12px (max) button
    300: clamp(0.50rem, calc(0.43rem + 0.28vw), 0.69rem), // 8px - 11px h4

);
$font-weight: (

    900: 900,
    800: 800,
    700: 700,
    600: 600,
    500: 500,
    400: 400,
    300: 300,
    200: 200,
    100: 100,
    
    
);



$line-height: (

    xl: 103px,
    l: 53px,
    m: 25px,
     
);

$letter-spacing: (
    
    xl: 2.6px,
    l: 1px,
    m: -1.5px,
);


