.grid-container {
    display: grid;


    grid-template-areas: 
    
                'img-container'
                'taps'
                'planet-text'
                'planet-facts';
}

.planet-container {
    grid-area: 'img-container';
}

.taps {
    grid-area: 'taps';
}