.grid-container {
    display: grid;
    grid-template-columns: 120px repeat (2, 1fr) 120px;
    grid-gap: rem(20);
    height: 80vh;
    


    grid-template-areas: 
   
               "taps taps"
               "img-container img-container"
               "planet-text planet-text"
               "planet-facts planet-facts";
    
    

    @include breakpoint-up('tiny') {
        grid-template-areas: 
                "img-container img-container"
                "planet-text taps"
                "planet-facts planet-facts";
    }

    @include breakpoint-up('small') {
        grid-template-areas: 
                ". img-container planet-text ."
                ". img-container taps ."
                ". planet-facts planet-facts .";
    }
    
}



.planet-container {
    grid-area: img-container;

    @include breakpoint-up('small') {

        align-self: center;
        justify-self: center;
    }

 
}
.planet-content {
    grid-area: planet-text;
    justify-self: center;
    @include breakpoint-up('small') {

        align-self: flex-end;
        justify-self: right;
    }
   
    
}


.taps {
    grid-area: taps;
    align-self: center;

    @include breakpoint-up('small') {

        justify-self: right;
    }
}

.planet-facts {
    grid-area: planet-facts;
    align-self: center;
}