header {
    min-height: calc(100vh - 93vh);
}




.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    --white: 0 0% 100%;

    @include breakpoint-up('tiny') {

        flex-direction: column;
        border-bottom: 1px solid hsl(var(--white) / 0.2);
    }

    @include breakpoint-up('small') {
        flex-direction: row;
    }
   
    
}

