header {
    min-height: calc(100vh - 93vh);
}

/* Background color and image (stars) */
.star-bg {
    background: url(/src/assets/images/background-stars.svg) hsl(var(--cl-dark) ) no-repeat;
    background-size: cover;
    background-position: center;
}




.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    --white: 0 0% 100%;
    border-bottom: 1px solid hsl(var(--white) / 0.2);

    @include breakpoint-up('tiny') {

        flex-direction: column;
    }

    @include breakpoint-up('small') {
        flex-direction: row;
    }
   
    
}

